<div class="col s12 tag-div">
  <div class="tag-list">
    {% for tag in site.tags %}
    {% assign tagvalid = false %}
    {% for post in tag[1] %}
    {% unless post.hidden %}
    {% assign tagvalid = true %}
    {% break %}
    {% endunless %}
    {% endfor %}
    {% if tagvalid %}
    {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
    {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
    <a class="tag-chip" href="#{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}"><div class="chip z-depth-1">{{tag[0]}}</div></a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="tag-index">
    {% for tag in site.tags %}
    {% assign tagvalid = false %}
    {% for post in tag[1] %}
    {% unless post.hidden %}
    {% assign tagvalid = true %}
    {% break %}
    {% endunless %}
    {% endfor %}
    {% if tagvalid %}
    {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
    {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
    <h4 id="{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}">{{tag[0]}}</h4>
    <ul class="tag-post">
      {% for post in tag[1] %}
      {% unless post.hidden %}
      <a class="post-title" href="{{site.baseurl}}{{post.url}}">
        <li>
          {{post.title}}
          <small class="post-date">
            <noscript>{{post.date | date_to_string}}</noscript>
            <script>
              var pdate = new Date('{{post.date}}');
              var y = pdate.getFullYear();
              var m = pdate.getMonth() + 1;
              m = m < 10 ? '0' + m : m;
              var d = pdate.getDate();
              d = d < 10 ? ('0' + d) : d;
              document.write(m + '-' + d + ' ' + y);
            </script>
          </small>
        </li>
      </a>
      {% endunless %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>
</div>